.icons{
    display: flex;
    padding: 30px;
    margin-left: 1rem;
    .icon{
        padding: 10px 20px;
        transition: all 0.3s;
        color: white;
        font-size: 30px;
        text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.193);
        
        &:hover{
            color: orange;
            cursor: pointer;
            scale: 1.1;
        }
    }
}