// font-family: 'Black Ops One', system-ui;
// font-family: 'DM Serif Display', serif;
// font-family: 'Exo', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Code Pro', monospace;

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Display&family=Exo:wght@300&family=Indie+Flower&family=Poppins:wght@500&family=Roboto:wght@400;500&family=Source+Code+Pro:wght@300&display=swap");

$whiteGray: #d8d8d8;
$lightGray: #b3b3b3;
$darkGray:#333647;
$superDark:#272936;
$orange: orange;